<div class="col-sm-12">
	<p>
	  <strong>Commenter:</strong>
	  <%= comment.commenter %>
	</p>
	 
	<p>
	  <strong>Comment:</strong>
	  <%= comment.body %>
	</p>
	 
	<p>
	    <%= link_to [comment.article, comment],
	               method: :delete,
	               class: 'btn btn-danger btn-sm',
	               data: { confirm: 'Are you sure?' } do %>
	               <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Destroy Comment
	    <% end %>
	</p>
<div class="col-sm-12">